<!DOCTYPE html>
<html>
  <head>
    <!-- Primary Meta Tags -->
<title>Top 100 Sites IPv6 Test | NoIPv6.wtf?</title>
<meta name="title" content="Top 100 Sites IPv6 Test | NoIPv6.wtf?">
<meta name="description" content="Check the top 100 Alexa sites IPv6 Status (and mine to prove I’m not a hypocrite).">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://noipv6.wtf/">
<meta property="og:title" content="Top 100 Sites IPv6 Test | NoIPv6.wtf?">
<meta property="og:description" content="Check the top 100 Alexa sites IPv6 Status (and mine to prove I’m not a hypocrite).">
<meta property="og:image" content="/04793CFC-F13F-4DF2-A8AE-4E2BDEFA7AD9.jpeg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://noipv6.wtf/">
<meta property="twitter:title" content="Top 100 Sites IPv6 Test | NoIPv6.wtf?">
<meta property="twitter:description" content="Check the top 100 Alexa sites IPv6 Status (and mine to prove I’m not a hypocrite).">
<meta property="twitter:image" content= "/04793CFC-F13F-4DF2-A8AE-4E2BDEFA7AD9.jpeg"> 
<link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/50b46e753c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {{{body}}}
    <div class="instant-opinion">
        <style>.instant-opinion-dropdown {display: none;}</style>
        <div class="instant-opinion-opinion"></div>
        <div class="instant-opinion-dropdown">
            <p>You might also like:</p>
            <p><a href="https://shitpoststatus.com" target="_blank" rel="noopener">Shitpost Status</a></p>
            <p><a href="https://babushkaspin.com" target="_blank" rel="noopener">Babushka Spin</a></p>
            <p><a href="https://featurefilms.co" target="_blank" rel="noopener">FeatureFilms.co</a></p>
            <p><a href="https://hotsingles.cyou" target="_blank" rel="noopener">HotSingles.cyou</a></p>
            <p>More dumb stuff:</p>
            <p><a href="https://github.com/Snaddyvitch-Dispenser#-ive-built" target="_blank" rel="noopener">My GitHub</a></p>
        </div>
    </div>
    <script src="https://instant-opinion.dbuidl.com/instant-opinion.min.js"></script>
  </body>
</html>
