.green {
  color: green;
}

.red {
  color: red;
}

a {color: inherit;}

body, html {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  /* page background - middle grey with a little blue */
  background-color: #999;
}

* {
  box-sizing: border-box;
}

nav {
  /* Dark gray ish */
  background-color: #222;
  color: white;
  height: 50px;
  padding: 5px;
}

nav .brand {
  line-height: 40px;
  margin: 0;
  font-size: 30px;
}

nav .brand a {
  color: white;
  text-decoration: none;
}

.pageContent {
    padding: 20px;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.otherSites {
  width: 75%;
  display: inline-flex;
  flex-wrap: wrap;
    justify-content: space-evenly;
}

.practiceWhatYouPreach {
  width: 25%;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 925px) {
  .pageContent {
    flex-direction: column;
  }

    .otherSites {
        width: 100%;
    }

    .practiceWhatYouPreach {
        width: 100%;
    }
}

.pingResult {
  background-color: white;
  flex-grow: 1;
  border-radius: 5px;

  margin: 4px 3px;
  display: flex;
  padding: 10px 5px;
}

.pingResult p {
  margin: 0;
  user-select: none;
}

.pingResult p.right {
    text-align: right;
  margin-left: 20px;
  flex-grow: 1;
}

.header {
  width: 100%;
  color: white;
}

h1 {
  margin: 0;
}

.remove {
  margin: 0 0 5px;
}